<article>
  <div class="article_image_container">
    <%= image_tag image, alt: alt_text %>
  </div>
  <div class="project_details">
    <header class="project_header">
      <div class="project_title">
        <h2><%= project_title%></h2>
      </div>
      <div class="project_links"> 
        <a class="icon_link" href=""><%= image_tag "github-mark.png", alt: "Link to the github page of the project"%></a>
        <a class="icon_link" href=""><%= image_tag "expand-arrows.png", alt: "Link to project"%></a>
      </div>
    </header>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius earum voluptatem aut, possimus numquam provident 
      quos aliquid sapiente quisquam. Molestiae aliquid veniam commodi dicta modi architecto nulla eligendi culpa. Aspernatur!
    </p>
  </div>
</article>
