.contact {
  background-color: #0099cc;
  display: flex;
  padding: 30px 6vw 30px 6vw;
  width: 100%;
  height: 60vh;
  justify-content: space-between;
}

.contact h1, .contact p {
  color: white;
}

.contact h1{
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: var(--font-size-title);
}

.contact p {
  font-family: "Roboto", serif;
  font-size: var(--font-size-standard);
}

.contact_details, .phone_number, .mail, .socials {
  display: flex;
} 

.contact_details {
  flex-direction: column;
}

.phone_number, .mail, .socials {
  gap: 15px;
  padding-bottom: 15px;
}

.contact_details .address, .contact_details h1+p {
  padding-bottom: 30px;
}

.contact_photo {
  height: 100%;
  min-width: 0;
  object-fit: cover;
  box-shadow: var(--box-shadow-standard);
}

.socials .icon_link {
  width: clamp(30px, 1.7vw, 30px);
  padding-top: 30px;
}

.attributions {
  width: 100%;
  background-color: #3a3b3c;
  display: flex;
  flex-direction: column;
  padding: 10px 6vw 10px 6vw;
  text-align: center;
}

.attributions a {
  color: #b0b3b8;
  font-size: var(--font-size-standard);
}

@media (max-width: 1200px) {
  .contact {
    height: max(400px, 40vh);
  }
}
