main {
  display: flex;
  flex-direction: column;
  padding: 30px 6vw 30px 6vw;
  gap: 20px;
  width: 100%;
}

.article_container {
  width: 100%;
  height: max(1200px, 120vh);
  display: grid;
  grid-template: repeat(2, 48%) / repeat(3, 1fr);
  gap: 2vw;
  position: relative;
}

main h2 {
  font-size: var(--font-size-title);
  font-weight: 150;
}

.article_container > * {
  min-width: 0; 
}

article {
  box-shadow: var(--box-shadow-standard);
  min-height: 300px;
}

.article_image_container {
  height: 50%;
}

.article_image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.project_title {
  min-width: 0;
}

.project_title h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(16px, 3vw, 24px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  font-weight: bold;
}

.project_links {
  display: flex;
  justify-content: right;
  gap: 5px;
}

.project_details {
  padding: 10px 20px 0px 20px;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.project_details p {
  font-family: "Roboto", serif;
  font-size: var(--font-size-standard);
  overflow: hidden;
  color: 	#606060;
}

@media (max-width: 1200px) {
  .article_container {
    grid-template: repeat(3, 32%) / repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .article_container {
    height: auto;
    grid-template: 1fr / 1fr;
    gap: 30px;
  }

  article {
    height: 300px;
  }
}
